@nav-bg: @wild-sand;
@nav-font: @river-bend;
@nav-border: @sea-shell;

@header-font-color: @sangria;
@main-font-color: @temptress;
@main-border-color: @border-real;

@footer-background: @wild-sand;
@footer-font-color: @waterloo;

// Color Vars
@sangria: #980008;
@guardsman-red:#C2000A;
@coral-red: #FB3842;
@wild-watermelon: #FC626A;

@temptress: #290002;
@chablis: #FFF3F3;
@pink-salmon: #FF9A9F;

// get rid of these.
@wild-sand: #F6F6F6;
@river-bend: #454A59;
@sea-shell: #F1F1F1;
@ebony-clay: #23293B;
@shuttle-gray: #5E6164;
@porcelain: #F6F7F8;
@waterloo: #81848E;
@btn-bg-color: #22283A;
@border-real: #dee2e6;