// vars
@nav-bg: @mischka;
@nav-font: @temptress;
@nav-border: @guardsman-red;

@primary-color: @main-font-color;
@font-color: @main-font-color;
@headers: @header-font-stack;
@font-stack: @content-font-stack;
// --- end used vars ---//
//-- stacks--//
@main-font-color: @temptress;
@header-font-color: @sangria;
@header-font-stack: 'Merriweather', serif;
@content-font-stack: 'Raleway', sans-serif;

@background-color: @chablis;

@main-border-color: @guardsman-red;

// Color Vars
@sangria: #980008;
@guardsman-red:#C2000A;
@coral-red: #FB3842;
@wild-watermelon: #FC626A;

@temptress: #290002;
@chablis: #FFF3F3;
@pink-salmon: #FF9A9F;
@mischka: #D7DAE4;

// get rid of these.
@btn-bg-color: #22283A;
@border-real: #dee2e6;